{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="connected-interface d-flex" style="height: 100vh;">
  <div class="submenu col-2">
    <table class="w-100">
      <tr>
        <td class="submenu-item p-3">
          <img class="menu-icon" src="{{ asset('img/home.svg') }}">
          <a class="submenu-link" href="{{ path('user') }}"><span> Hub</span></a>
        </td>
      </tr>
      {% if is_granted('ROLE_ADMIN') %}
      <tr>
        <td class="submenu-item p-3">
          <img class="menu-icon" src="{{ asset('img/admin.svg') }}">
          <a class="submenu-link" href="{{ path('admin') }}"><span> Administration</span></a>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td class="submenu-item p-3">
          <img class="menu-icon" src="{{ asset('img/account.svg') }}">
          <a class="submenu-link" href="{{ path('account') }}"><span> Account</span></a>
        </td>
      </tr>
      <tr>
        <td class="submenu-item p-3">
          <img class="menu-icon" src="{{ asset('img/wallet.svg') }}"> 
          <a class="submenu-link" href="{{ path('wallet') }}">
            <span> Wallet</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="right-column bg-light col-10 d-flex flex-column justify-content-start" style="overflow-y: scroll"> 
    <h3 class="mb-3">Account Information</h3>
    <div class="d-flex flex-column">
      <div class="mb-3">
        <strong>Email : </strong> {{ currentUser.email }}
      </div>
      <div class="mb-3">
        <strong>Balance : </strong> {{ currentUser.euros }} $
      </div>
      <div class="mb-3">
        <strong>Password : </strong> 
        <button class="button-outline-secondary d-inline-flex align-items-center" id="change-password-link">
        Change Password
        </button>
      </div>
      <div class="mb-3">
        <a href="{{ path('app_logout') }}">Logout</a>
      </div>
    </div>
    <hr>

    {# Display flash messages for success and errors #}
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }} mt-3">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    
    <div id="change-password-form" style="display: none;">
      <div class="p-4 bg-light rounded-4 me-3 w-50 primary-border">
        <h3 class="mb-3">Change Password</h3>
        {{ form_start(passwordform) }}
            <div class="mb-3">
                {{ form_row(passwordform.oldPassword) }}
            </div>
            <div class="mb-3">
                {{ form_row(passwordform.newPassword) }}
            </div>
            <div class="mb-3">
                {{ form_row(passwordform.confirmPassword) }}
            </div>
            <button type="submit" class="button-primary">Change Password</button>
        {{ form_end(passwordform) }}
      </div>
    </div>
  </div>
</div>

<script>
    document.getElementById('change-password-link').addEventListener('click', function(event) {
        event.preventDefault();
        var form = document.getElementById('change-password-form');
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    });
</script>
{% endblock %}
