{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}
<div class="connected-interface d-flex" style="height: 100vh;">
  <div class="submenu col-2">
    <table class="w-100">
      <tr>
        <td class="submenu-item p-3">
          <img class="menu-icon" src="{{asset('img/home.svg')}}">
          <a class="submenu-link" href="{{asset('user')}}"><span> Hub</span></a>
        </td>
      </tr>
      <tr>
        <td class="submenu-item p-3">
          <img class="menu-icon" src="{{asset('img/account.svg')}}">
          <a class="submenu-link" href="{{asset('')}}"><span> Account</span></a>
        </td>
      </tr>
      <tr>
        <td class="submenu-item p-3">
          <img class="menu-icon" src="{{asset('img/wallet.svg')}}"> 
          <a class="submenu-link" href="{{ path('wallet', {id: currentUser.id}) }}">
            <span> Wallet for {{ currentUser.roles|join(', ') }}</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="right-column bg-light col-10 d-flex flex-column justify-content-start" style="overflow-y: scroll"> 
    <div class="bento-box-1">
      Activity <span class="vertical-divider"></span>
    </div>
    <h3 class="margin-bottom: 20px">Popular cryptocurrencies</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div id="tradingview_12345"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
        new TradingView.widget(
        {
          "autosize": true,
          
          "symbol": "BINANCE:BTCEUR",
          "interval": "H",
          "timezone": "Europe/Paris",
          "theme": "light",
          "style": "1",
          "locale": "fr",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "allow_symbol_change": true,
          "container_id": "tradingview_12345"
        }
        );
      </script>
      </div>
      <!-- TradingView Widget END -->  
    </div>
  </div>
    
  </div>
  </div>
  </div>
</div>
</div>
</div>

{% endblock %}
