{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}
<div class="connected-interface d-flex" style="height: 100vh;">
  <div class="submenu col-2">
    <!-- Left column content -->
    <table class="w-100">
      <tr>
        <td class="submenu-item p-3">
          <img class="menu-icon" src="{{asset('img/home.svg')}}">
          <a class="submenu-link" href="{{asset('user')}}"><span> Hub</span></a>
        </td>
      </tr>
      {% if is_granted('ROLE_ADMIN') %}
      <tr>
        <td class="submenu-item p-3">
          <img class="menu-icon" src="{{asset('img/admin.svg')}}">
          <a class="submenu-link" href="{{asset('admin')}}"><span> Administration</span></a>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td class="submenu-item p-3">
          <img class="menu-icon" src="{{asset('img/account.svg')}}">
          <a class="submenu-link" href="{{path('account')}}"><span> Account</span></a>
        </td>
      </tr>
      <tr>
        <td class="submenu-item p-3">
          <img class="menu-icon" src="{{asset('img/wallet.svg')}}"> 
          <a class="submenu-link" href="{{ path('wallet') }}">
            <span> Wallet</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="right-column bg-light col-10 d-flex flex-column justify-content-start" style="overflow-y: scroll"> 

    <div class="embed-responsive embed-responsive-16by9">
      
      <!-- Content -->
      <div class="container my-2">
        <div class="d-flex flex-row justify-content-between align-items-center">
          <div class="mb-4 rounded-4 p-4 primary-background bento-box">
            <span class="fs-5"><strong>User account :</strong> {{ user.email }}</span>
          </div>
          <div class="mb-4 rounded-4 p-4 secondary-background bento-box">
            <span class="fs-4">Solde : {{ user.euros }} $</span>
          </div>
        </div>

          <div class="d-flex flex-row justify-content-between">
              <div class="p-4 bg-light rounded-4 me-3 w-50 primary-border">
                  <h2 class="mb-3">Buy Cryptocurrency</h2>
                  {{ form_start(form) }}
                      <div class="mb-3">
                          {{ form_row(form.crypto) }}
                      </div>
                      <div class="mb-3">
                          {{ form_row(form.quantity) }}
                      </div>
                  {{ form_end(form) }}
              </div>

              <div class="p-4 bg-light rounded-4 w-50 primary-border">
                  <h2 class="mb-3">Sell Cryptocurrency</h2>
                  <div class="d-flex flex-column">
                      {{ form_start(sellForm) }}
                          <div class="mb-3">
                              {{ form_row(sellForm.crypto) }}
                          </div>
                          <div class="mb-3">
                              {{ form_row(sellForm.quantity) }}
                          </div>
                      {{ form_end(sellForm) }}
                  </div>
              </div>
          </div>
      </div>

      <!-- Display flash messages -->
      <div>
        {% for type, messages in app.flashes %}
          {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endfor %}
      </div>
      <hr>

      <h2>Your Wallet :</h2>

      <div class="primary-border rounded-3 mb-3" style="background: white;">
      <table class="table mt-1">
          <thead>
              <tr>
                  <th class="p-3" scope="col">Cryptocurrency</th>
                  <th class="p-3" scope="col">Quantity</th>
                  <th class="p-3" scope="col">Current Price</th>
                  <th class="p-3" scope="col">Total Value</th>
                  <th class="p-3" scope="col">Total Cost</th>
                  <th class="p-3" scope="col">Profit/Loss</th>
              </tr>
          </thead>
          <tbody class="tbody table-group-divider">
              {% set alias = '' %}
              {% set cryptoIds = {
                    1: 'btc',
                    2: 'eth',
                    3: 'xrp',
                    4: 'xem',
                    5: 'bch',
                    6: 'ada',
                    7: 'ltc',
                    8: 'xlm',
                    9: 'iota',
                    10: 'dash'
                  } %}
              {% for wallet in wallets %}
                  {% set alias = cryptoIds[wallet.cryptoId] %}
                  {% set crypto = cryptoData[alias ~ 'usdt'] %}
                  {% set profitLoss = wallet.calculateProfitLoss(crypto.price) %}
                  <tr>
                      <td class="p-3">{{ crypto.alias }}</td>
                      <td class="p-3">{{ wallet.quantity }}</td>
                      <td class="p-3">{{ crypto.price }} $</td>
                      <td class="p-3">{{ crypto.price * wallet.quantity }} $</td>
                      <td class="p-3">{{ wallet.totalCost }} $</td>
                      <td class="p-3">{{ profitLoss }} $</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      </div>

      <h2>Cryptocurrencies :</h2>

      <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Last price</th>
                <th scope="col">var % 24h</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="tbody">
              {% for symbol, data in cryptoData %}
                <tr data-crypto="{{ symbol }}" style="cursor: pointer;">
                  <td class="align-middle">{{ data.alias }}</td>
                  <td class="align-middle">{{ data.quantity }}</td>
                  <td class="price align-middle">{{ data.price }} $</td>
                  <td class="change-percent align-middle">{{ data.changePercent }}%</td>
                  <td><a class="text-decoration-none fs-3 align-middle" href="{{ path('crypto_detail', { 'symbol': symbol }) }}">-></a></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>

    </div>
  </div>
    
  </div>
  </div>
  </div>
</div>
</div>
</div>
{% endblock %}


